extends layout

block content
  .container
    a(href="/api/v1/users")
      button.btn.btn-default Back
    h1 User Profile 
    p.lead Username: #{profile.username} IG: #{profile.instagram_id}
    if (user.username !== profile.username)     
      form(action="/api/v1/follows/" method="post")
        input(type="hidden" name="username" value="#{profile.username}")
        button.btn.btn-primary(type="submit") Follow
      br
      form(action="/api/v1/follows/unfollows/" method="post")
        input(type="hidden" name="username" value="#{profile.username}")
        button.btn.btn-primary(type="submit") Unfollow
      br
    ul
      li
        p First name: #{profile.first_name}
      li
        p Last name: #{profile.last_name}
      li
        p Email: #{profile.email}
      li
        p Bio: #{profile.bio}
      li
        img(src="#{profile.profile_picture}", alt="profile_picture")
      li
        br
        button.btn.btn-default.following-btn Following: #{profile.following.length}

        .following-list
          ul
            each follow in profile.following
              li
                p 
                  a(href="/api/v1/users/" + follow.username) #{follow.username}
                  span  on #{follow.followed_at}

      li
        br
        button.btn.btn-default.followers-btn Followers: #{profile.followers.length}
        .followers-list
          ul
            each follower in profile.followers
              li
                p
                  a(href="/api/v1/users/" + follower.username) #{follower.username}
                  span  on #{follower.followed_since}
                  
    p #{message}


  script.
    $('.following-list').hide();
    $('.followers-list').hide();

    $('.following-btn').click(function(event) {
      $('.following-list').fadeToggle();
    })

    $('.followers-btn').click(function(event) {
      $('.followers-list').fadeToggle();
    })
