extends layout

block content
  .container
    h1 User Profile 
    p.lead Username: #{profile.username} IG: #{profile.instagram_id}
    ul
      li
        p First name: #{profile.first_name}
      li
        p Last name: #{profile.last_name}
      li
        p Email: #{profile.email}
      li
        p Bio: #{profile.bio}
      li
        img(src="#{profile.profile_picture}", alt="profile_picture")
      li
        h3 Following: #{profile.following.length}
        ul
          each follow in profile.following
            li #{follow.username}
      li
        h3 Followers:


    if (user.username !== profile.username)     
      form(action="/api/v1/follows/" method="post")
        input(type="hidden" name="username" value="#{profile.username}")
        button.btn.btn-primary(type="submit") Follow

    p #{message}
